# Byte-compiled / optimized / DLL files
__pycache__/
*.pyc
*.pyo
*.pyd

# Unit test / coverage reports
.pytest_cache/
.coverage
.coverage.*
htmlcov/
nosetests.xml
coverage.xml
*.cover
*.log

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/
test_workspace/

# IDEs and editors
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Graphify Outputs
graphify-out/

